############################
## Release Issue Template ##
############################

Please open a new issue at https://gitlab.com/gitlab-org/security-products/release/issues/new


Title:
------

Release <%= version %>


Description:
------------

## Prepare

- [ ] Check that `Pick into <%= version %>` label already exists on: https://gitlab.com/groups/gitlab-org/-/labels (it should have been created by GitLab RM).
- [ ] Announce the beginning of the release in `#g_secure` slack channel:

  ```
  @secure-team

  I am about to release `<%= version %>` for the following projects:
  <% projects.each do |p| %> - <%= p.path %>
  <% end %>
  I will create the `<%= branch_name %>` branch and everything merged into `master` after this point will go into next month's release.
  Only regression and security fixes will be cherry-picked into `<%= branch_name %>`.

  Please ensure that merge requests have the correct milestone (`<%= version %>` for this release)
  and the `Pick into <%= version %>` label.

  From now on, please follow the "After the 7th" process:
  https://gitlab.com/gitlab-org/security-products/release/blob/master/docs/release_process.md#after-the-7th-and-until-next-month
  ```


## Prepare projects

<% projects.each do |p| %>
### [<%= p.path %>](<%= p.web_url %>)
 - [ ] Complete changelog/documentation with missing entries for `<%= branch_name %>` (on `master`)

<% end %>

## Release projects

- [ ] Use the `scripts/bump_versions.rb X.Y X.Y+1` to create new branches and then bump VERSION and changelogs of the projects in their master branch.

<% projects.each do |p| %>
### [<%= p.path %>](<%= p.web_url %>)
 - [ ] Check that branch `<%= branch_name %>` was created.
 - [ ] Check that [VERSION](<%= p.file_url('VERSION', 'master') %>) was updated to next release (`<%= next_branch_name %>`) on `master` and that the corresponding [changelog](https://gitlab.com/gitlab-org/security-products/<%= p.path %>/blob/master/CHANGELOG.md) was added.
 - [ ] Check that the `registry.gitlab.com/gitlab-org/security-products/<%= p.path %>:<%= branch_name %>` Docker image has been published on the [registry](https://gitlab.com/gitlab-org/security-products/<%= p.path %>/container_registry). Also check that an image for the next month version has also been published.
 - [ ] Based on the [changelog](<%= p.file_url('CHANGELOG.md', 'master') %>), provide a list of notable changes to the Product Manager for the blog post

<% end %>

## Post release

- [ ] Announce the end of the release in `#g_secure` slack channel:

  ```
  @secure-team

  `<%= version %>` release has been completed

  ```

- [ ] Create the QA issue: ADD_LINK_TO_QA_ISSUE
- [ ] Ensure QA is completed
- [ ] Check the [Merge Requests with label `Pick into <%= version %>`](https://gitlab.com/groups/gitlab-org/-/merge_requests?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Secure&label_name[]=Pick%20into%20<%= version %>)
  - Ensure MR is validated and merged before cherry-picking
  - Follow the steps defined in [Release Process](https://gitlab.com/gitlab-org/security-products/release/blob/master/docs/release_process.md#after-the-7th-and-until-next-month)


/milestone %"<%= version %>"
/label ~"Secure"
/cc @plafoucriere @bikebilly
